/* 	filefabric.css
	css for file list view and folder nav bar
	february 11 2013
	jack parmer
	*/

.ff-table{
	margin-top: 40px;
}

.ff-table tr{
	white-space: nowrap;
}

.ff-table > thead{
	width: 100%;
}

.ff-nav-bar{
	padding: 5px 10px;
	font-size: 14px;	
	background: whitesmoke;
	position: absolute;
	width: 100%;
	min-height: 40px;
	border-bottom: 1px solid #aaa;
}

.ff-nav-bar span{
	vertical-align: middle;
}

.ff-nav-bar a{
	padding: 5px 10px;
	vertical-align: middle;
}

.ff-nav-bar a:hover{
	background: #aaa;
}

.ff-checkbox{
	display: inline-block;	
	background-image: url("/static/img/filefabric.png");
	background-repeat: no-repeat;
	background-color: transparent;
	height: 18px!important;
	width: 18px!important;
	cursor: pointer;
	vertical-align: middle;
}

.ff-unchecked{
	background-position: -2px -19px;
}

.ff-checked{
	background-position: -38px -19px;
}

.ff-partial{
	background-position: 0px 0px;
}

.ff-icon{
	margin: 0 8px 0 8px;	
	height: 16px;
	width: 16px;
	display: inline-block;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;	
}

.ff-table-row a:hover{
	text-decoration: underline;
	cursor: pointer;
}

tr.ff-selected{
	background: whitesmoke;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.ff-header-menu div{
	display: inline-block;
}

.ff-header-menu .ff-header-content{
	cursor: pointer;
	padding: 4px;
}

.ff-header-menu .ff-header-content:hover{
	box-shadow: rgba(0,0,0,0.09804) 0 0 1px,rgba(0,0,0,0.14902) 0 1px 5px;
}

.ff-dd-arrow{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #A8A8A8;
	margin-left: 4px;
	margin-bottom: 2px;	
}
